@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color: black;
  --second-color: black;
  --body-font: "Bebas Neue", sans-serif;
  --big-font-size: 3rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 1.25rem;
  --smaller-font-size: 0.75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
  overscroll-behavior: none;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1.5rem;
    --smaller-font-size: 1rem;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }

  .home__img {
    position: absolute;
    right: 50;
    bottom: 50;
    width:100%;
    opacity: 50%;
  }

}

.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 0.2em;
}

.nav__logo {
  color: var(--second-color);
}
.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.show {
  right: 0;
}

.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  height:100vh;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color {
  color: var(--first-color);
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

.about{
  background-color: black;
  color:white;
}

.contact2__container {
  background-color: black;
  row-gap: 2rem;
  text-align: center;
  color:white;
}
.contact2__subtitle {
  margin-bottom: var(--mb-2);
  color:white;
}

.contact2__text{
  size:3rem;
}

.skills__container {
  row-gap: 1.5rem;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: var(--mb-2);
}
.skills__text {
  margin-bottom: var(--mb-4);
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__names {
  display: flex;
  align-items: center;
}

.projects{
  background-color: black;
  color:white;
}
.projects__container {
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.box{
  height: 320px;
  width:320px;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px;
  transform: scale(1.1);
  transition: 0.5s;
  border: 0.5px solid grey;
  border-radius: 0.5rem;
  overflow: hidden;
}

.box:hover{
  border: 2px solid white;
}

.project_title{
  font-size:1.8rem;
}

.project_text{
  color:#D3D3D3;
  font-size: 1.2rem;
}

.p-btn{
  background-color: #000000;
  border: 0.1px solid white;
  border-radius: 10%;
  color: white;
  margin:10px;
  padding: 12px 20px;
  font-size: 0.7rem;
  cursor: pointer;
}

.p-btn:hover {
  background-color: white;
  color:black;
}

.p-list{
  border: 0.1px solid #222222;
  border-radius: 25px;
  margin:1px;
  padding: 8px 15px;
  font-size: 0.8rem;
  cursor: pointer;
  color:#D3D3D3;
  background-color: #222222;
}

.contact__container {
  row-gap: 2rem;
  text-align: center;
  color:black;
}
.contact__subtitle {
  margin-bottom: var(--mb-2);
  color:black;
}

.btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 10%;
  color: black;
  margin:10px;
  padding: 12px 20px;
  font-size: var(--smaller-font-size);
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color:white;
}

.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .projects__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}